# Basic examples using pygoa

Note: if pygoa is not installed (e.g. via pip), being at /Users/msicilia/Desktop/dev/pygoa is the only way to import things smoothly, so %pwd and %cd if needed.

In [1]:
%cd ..
from pygoa import GOSnapshot, to_df

/Users/msicilia/Desktop/dev/pygoa

In [2]:
from datetime import date
import sys

summaries = []


for year in [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]:
    for d in [date(year, m, 1) for m in range(1, 13)]:
        try:
            sp = GOSnapshot(date=d.strftime("%Y-%m-%d"))
            print(sp.summary.nterms, sp.summary.nchildren)
            summaries.append(sp.summary)
        except IOError:
            print("File not available for date:", d, sys.exc_info())
        except:
            print(sys.exc_info())

22929 33988
23533 36092
(<class 'KeyError'>, KeyError('namespace',), <traceback object at 0x11ddd0608>)
23997 36692
24159 36940
24252 37098
24408 37276
24807 37801
24930 37997
24943 38027
25397 38735
25539 38937
25771 39210
25976 40227
26077 40394
26137 39501
26235 39657
26326 39785
26469 40035
26539 40137
26758 40250
27165 40749
27627 42082
27769 42328
27867 42503
27867 42503
28247 43111
28440 43485
28726 44045
28896 44406
29126 45032
29275 45680
29561 46257
29730 46587
30017 47177
30228 47549
30716 48489
30894 48868
31356 49836
31644 50591
31798 50936
31924 51251
31979 51361
32097 51579
32320 52109
32741 52705
32902 53126
33058 53503
33268 53942
33462 54232
33664 54534
33878 54942
34086 55322
34211 55497
34427 55868
34630 56259
34875 56712
35029 56910
35215 57114
35347 57366
File not available for date: 2012-01-01 (<class 'OSError'>, OSError('Ontology file gene_ontology_edit.obo.2012-01-01 could not be found',), <traceback object at 0x11cd87f08>)
35724 57972
36065 58507
36321 58934
36689 59642
37104 60475
37496 61274
37781 61799
38048 62274
38189 62879
38461 64507
38659 66196
38794 67217
38931 67581
39118 67621
39188 67474
39264 67682
39401 67995
39548 68164
39666 68502
39774 68780
39923 69102
40062 69338
40140 69866
40290 70263
40413 70532
40535 70884
40730 71256
40934 71680
41136 72074
41239 72653
41436 73065
41694 73553
41867 74121
42012 75892
42189 76460
42329 77029
42466 77499
42588 77791
42805 78347
42979 79329
43136 80057
43330 78238
43507 78597
43654 78863
43758 79126
43880 79355
43980 79595

In [3]:
df = to_df(summaries)

In [4]:
df

,date,nterms,nchildren,nparents,nrelations,nobsolete,nbioprocess,nmolfunction,ncelcomp
0,2007-01-01,22929,33988,33988,35269,1012,12904,8049,1976
1,2007-02-01,23533,36092,36092,37195,987,13497,8060,1976
2,2007-04-01,23997,36692,36692,37867,1099,13867,8092,2038
3,2007-05-01,24159,36940,36940,38178,1101,13963,8125,2071
4,2007-06-01,24252,37098,37098,38362,1102,14024,8148,2080
5,2007-07-01,24408,37276,37276,38549,1102,14076,8234,2098
6,2007-08-01,24807,37801,37801,39135,1129,14319,8381,2107
7,2007-09-01,24930,37997,37997,39320,1129,14375,8434,2121
8,2007-10-01,24943,38027,38027,39360,1129,14375,8435,2133
9,2007-11-01,25397,38735,38735,40174,1132,14711,8529,2157
10,2007-12-01,25539,38937,38937,40388,1134,14767,8612,2160
11,2008-01-01,25771,39210,39210,40665,1137,14832,8778,2161
12,2008-02-01,25976,40227,40227,41120,1140,14986,8815,2175
13,2008-03-01,26077,40394,40394,41319,1146,15063,8833,2181
14,2008-04-01,26137,39501,39501,42529,1154,15130,8826,2181
15,2008-05-01,26235,39657,39657,42690,1155,15211,8828,2196
16,2008-06-01,26326,39785,39785,42821,1168,15263,8849,2214
17,2008-07-01,26469,40035,40035,43065,1169,15325,8921,2223
18,2008-08-01,26539,40137,40137,43182,1171,15375,8937,2227
19,2008-09-01,26758,40250,40250,43348,1344,15496,8969,2293
20,2008-10-01,27165,40749,40749,43940,1347,15653,9177,2335
21,2008-11-01,27627,42082,42082,44850,1362,16090,9189,2348
22,2008-12-01,27769,42328,42328,45142,1362,16203,9204,2362
23,2009-01-01,27867,42503,42503,45329,1362,16285,9213,2369
24,2009-02-01,27867,42503,42503,45329,1362,16285,9213,2369
25,2009-03-01,28247,43111,43111,45964,1377,16547,9286,2414
26,2009-04-01,28440,43485,43485,46334,1390,16697,9308,2435
27,2009-05-01,28726,44045,44045,46907,1393,16894,9375,2457
28,2009-06-01,28896,44406,44406,47276,1397,17043,9388,2465
29,2009-07-01,29126,45032,45032,47703,1400,17211,9414,2501
...,...,...,...,...,...,...,...,...,...
76,2013-07-01,39548,68164,68164,67602,1774,25733,10477,3338
77,2013-08-01,39666,68502,68502,67857,1775,25825,10489,3352
78,2013-09-01,39774,68780,68780,68064,1778,25902,10499,3373
79,2013-10-01,39923,69102,69102,68329,1781,26003,10526,3394
80,2013-11-01,40062,69338,69338,68571,1789,26088,10535,3439
81,2013-12-01,40140,69866,69866,68727,1788,26132,10545,3463
82,2014-01-01,40290,70263,70263,69018,1794,26209,10556,3525
83,2014-02-01,40413,70532,70532,69278,1795,26313,10563,3537
84,2014-03-01,40535,70884,70884,69494,1797,26381,10580,3574
85,2014-04-01,40730,71256,71256,69850,1801,26503,10589,3638
86,2014-05-01,40934,71680,71680,70210,1807,26652,10622,3660
87,2014-06-01,41136,72074,72074,70622,1810,26811,10644,3681
88,2014-07-01,41239,72653,72653,70804,1812,26874,10663,3702
89,2014-08-01,41436,73065,73065,71132,1835,27019,10699,3718
90,2014-09-01,41694,73553,73553,71686,1842,27224,10725,3745
91,2014-10-01,41867,74121,74121,72042,1846,27364,10738,3765
92,2014-11-01,42012,75892,75892,72569,1850,27469,10747,3796
93,2014-12-01,42189,76460,76460,72889,1851,27600,10775,3814
94,2015-01-01,42329,77029,77029,73358,1859,27704,10787,3838
95,2015-02-01,42466,77499,77499,73611,1876,27813,10805,3848
96,2015-03-01,42588,77791,77791,73814,1883,27916,10813,3859
97,2015-04-01,42805,78347,78347,74246,1894,28076,10833,3896
98,2015-05-01,42979,79329,79329,75157,1902,28222,10838,3919
99,2015-06-01,43136,80057,80057,75476,1904,28339,10850,3947
100,2015-07-01,43330,78238,78238,75861,1907,28509,10866,3955
101,2015-08-01,43507,78597,78597,76193,1918,28654,10876,3977
102,2015-09-01,43654,78863,78863,76440,1921,28773,10888,3993
103,2015-10-01,43758,79126,79126,76640,1925,28851,10898,4009
104,2015-11-01,43880,79355,79355,76888,1928,28953,10903,4024
105,2015-12-01,43980,79595,79595,77064,1935,29025,10919,4036

In [8]:
term = sp["GO:0019443"]
#term = sp["GO:0019442"]

In [9]:
from pronto import Ontology, Relationship
len(term.relations)
print(term.relations)

{}

In [10]:
term.other

{'comment': 'This term was made obsolete because it refers to a one-step pathway.',
 'is_obsolete': 'true',
 'namespace': 'biological_process',
 'replaced_by': ['GO:0006569', 'GO:0009034'],
 'synonym': ['"tryptophan breakdown, using tryptophanase" EXACT []',
  '"tryptophan degradation, using tryptophanase" EXACT []']}

In [5]:
df.to_csv("summarygo.csv")