# Comparing similarity measures across versions

## Information content

In [22]:
import pandas as pd
ic = pd.read_csv("../ic_dump.txt", parse_dates=True, header=None)
ic.columns=["date", "term", "ic"]
ic.head(3)

         date        term        ic
0  2007-01-01  GO:0000001  6.792704
1  2007-01-01  GO:0000002  3.279104
2  2007-01-01  GO:0000003  0.800000

In [32]:
by_term = ic.groupby("term")
by_term.get_group("GO:0043231").head()

              date        term      ic
16508   2007-01-01  GO:0043231  4.5952
39543   2007-02-01  GO:0043231  4.5952
63196   2007-03-01  GO:0043231  4.5952
87057   2007-04-01  GO:0043231  4.5952
111167  2007-05-01  GO:0043231  4.5952

In [34]:
import numpy as np
changed = [t for t, g in by_term if np.all(g.ic.values == g.ic.values[0])]

In [36]:
len(changed)

2228

In [37]:
len(ic.term.unique())

30737